# Comma separated list of SSI extensions.
ssi_extensions .html

# Error log file, leave empty to disable logging.
error_log_file application/logs/error_log

# Comma-separated list of ports to listen on. For the SSL port, a letter 's' must be appeneded.
listening_ports 3030,3033s

# Location of SSL certificate file.
ssl_certificate system/config/certs/mongoose.pem

# Number of worker threads to start.
num_threads 4
