body, p, label, input, button, select, textarea, .navbar-search {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
